@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poetsen+One&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(190, 251, 255, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(19, 56, 185, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(19, 56, 185, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(19, 56, 185, 1);
}
.close {
  margin-right: 12px;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 20px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin-right: 200px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    font-size: 20px;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 160px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-title {
  font-family: Poetsen One;
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0%;
  -webkit-text-stroke: 2px rgba(19, 56, 185, 1);
  color: rgba(248, 245, 70, 1);
}

.home-text {
  font-family: Poetsen One;
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  padding: 16px 0 160px;
  -webkit-text-stroke: 2px rgba(19, 56, 185, 1);
}
.home__google-button_link {
  margin: auto;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;
    padding: 160px;
    background-image: url("/image/home/Hero\ \(1\).png");
  }

  .home-title {
    font-weight: 400;
    font-size: 100px;
    line-height: 120px;
    letter-spacing: 0%;
    -webkit-text-stroke: 4px rgba(19, 56, 185, 1);
  }

  .home-text {
    font-weight: 400;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
    -webkit-text-stroke: 4px rgba(19, 56, 185, 1);
    padding: 16px 0 156px;
  }
  .home__google-button_link {
    margin: 0;
  }
}
.about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background: radial-gradient(39.18% 50% at 50% 50%, #587dff 0%, #1338b9 100%);
}

.about-title {
  font-family: Poetsen One;
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0%;
  color: rgba(248, 245, 70, 1);
}
.about-title-two {
  color: rgba(19, 56, 185, 1);
}

.about-text {
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  padding: 40px 0px;
}
.about-img {
  width: 342px;
  height: 343px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 160px;
    width: 1440px;
  }

  .about-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
  }

  .about-text {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding: 80px 0px 0;
  }
  .about-img {
    width: 434px;
    height: 435px;
  }
  .about-div {
    display: flex;
    gap: 141px;
  }
}
.how {
  width: 375px;
  height: 2057px;
  margin: auto;
  padding: 40px 15px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/how/How\ to\ Play.png");
}

.how-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.how-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-img {
  margin: auto;
  border: none;
  background-color: transparent;
}
.how-text-bold {
  color: rgba(248, 245, 70, 1);
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}
.how-text {
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 908px;
    margin: auto;
    padding: 80px 160px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/how/How\ to\ Play\ \(1\).png");
  }

  .how-list {
    padding-top: 80px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .how-item {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 832px;
  }
  .how-img {
    margin: 0;
  }
}

.reviews {
  width: 375px;
  height: 465px;
  margin: auto;
  padding: 40px 0 0 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/image/reviews/Reviews.png");
}

.reviews-list {
  width: auto;
  padding-top: 40px;

  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 327px;
  height: 267px;
  border-radius: 24px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background: rgba(19, 56, 185, 1);
  box-shadow: 0px -6px 2px 0px rgba(5, 17, 61, 0.5) inset;
}

.reviews-text-bold {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  color: rgba(248, 245, 70, 1);
}
.reviews-text {
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 16px;
}

.gallery-button-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 32px;
  }

  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .gallery-button:hover {
    scale: 120%;
  }
  .reviews {
    width: 1440px;
    height: 642px;
    margin: auto;
    padding: 80px 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/image/reviews/Reviews\ \(1\).png");
  }

  .reviews-list {
    width: auto;
    padding-top: 80px;
    padding-bottom: 32px;
    margin: auto;
  }
  .reviews-item {
    margin: 0 10px;
    width: 544px;
    height: 229px;
    border-radius: 24px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
  }

  .reviews-text-bold {
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  height: 1689px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/image/faq/FAQ.png");
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  border-radius: 24px;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  background: rgba(190, 251, 255, 1);
  box-shadow: 0px -5px 6px 0px rgba(5, 17, 61, 0.5) inset;
}

.faq-question {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  color: rgba(19, 56, 185, 1);
}

.faq-answer {
  color: rgba(19, 56, 185, 1);
  padding-top: 16px;
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 160px;
    margin: auto;
    width: 1440px;
    height: 1229px;

    background-image: url("/image/faq/FAQ\ \(1\).png");
  }
  .faq-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 928px;
    margin: auto;
  }

  .faq-item {
    border-radius: 24px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
  }

  .faq-question {
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }

  .faq-answer {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 40px 0px 40px 16px;
}

.gallery__list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
}
.gallery__item {
  width: 326px;
  height: 581px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-link {
  margin: auto;
}
.gallery-button-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 1005px;

    margin: auto;
    padding: 80px 160px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url("/image/gallery/Gallery.png");
  }

  .gallery__item {
    width: 288px;
    height: 512px;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
  }

  .gallery__list {
    width: auto;
    padding: 80px 0 40px;
  }
}
.features {
  width: 375px;
  height: 1066px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/Features.png");
}

.features-list {
  padding-top: 462px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features-item {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  color: rgba(19, 56, 185, 1);
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 797px;
    margin: auto;
    padding: 80px 160px 0;

    background-image: url("/image/features/Features\ \(1\).png");
  }

  .features-list {
    padding-top: 80px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 576px;
  }
  .features-item {
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
}
.footer {
  background: rgba(19, 56, 185, 1);

  color: #ffffff;
  padding: 40px 0px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px 0 16px;
  }

  .footer-text {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer-copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
  }
}
.policy-terms-container {
  padding: 120px 16px 40px;
  color: rgba(19, 56, 185, 1);
}
.policy-terms-title {
  font-family: Poetsen One;
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0%;
}

.policy-terms-text {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 160px 80px;
  }
  .policy-terms-title {
    font-family: Poetsen One;
    font-weight: 400;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 28px;
    line-height: 36.4px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Comfortaa;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 345px;
  border-radius: 20px;
  padding: 30px;
  background: rgba(19, 56, 185, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(241, 238, 233, 1);
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  width: 256px;

  border-radius: 28px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-family: Comfortaa;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(186, 243, 237, 1);
  border: 1px solid rgba(186, 243, 237, 1);
  background-color: transparent;
}
#accept-cookies {
  background: rgba(186, 243, 237, 1);
  color: rgba(19, 56, 185, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    width: 600px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1272px;

    padding: 30px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
